<div class="full-width text-center">
  <h1 class="display-3">Grazie, {{name}}!</h1>
  <p class="lead"><strong>Per favore, controlla la tua mail</strong> per confermare la registrazione.</p> 
  <hr>
  <p>
      vuoi scaricare una risorsa? <a href="/risorsa">Clicca qui</a>
  </p>
  <p>
      Oppure guarda gli utenti nella <a href="/users">Pagina utenti</a>
  </p>

  <p>
       Guarda la pagina di node per saperne di più: <a href="/wiki">Node</a>
  </p>
  <p class="lead">
      <a class="btn btn-primary btn-sm" href="/" role="button">vai alla homepage</a>
  </p>
</div>